*,
        ::after,
        ::before {
            box-sizing: inherit
        }
        
        html {
            box-sizing: border-box;
            background-color: #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            min-width: 300px;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            -moz-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            text-size-adjust: 100%
        }
        
        body,
        button,
        input,
        option,
        select {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #4a4a4a;
            margin: 0
        }
        
        :focus {
            outline: 0
        }
        
        .section {
            padding: 1rem
        }
        
        .grecaptcha-badge {
            display: none!important
        }
        
        .tabs {
            font-size: 1rem
        }
        
        .is-hover-underline:hover {
            text-decoration: underline
        }
        
        body,
        h1,
        h2,
        h3,
        h4,
        hr,
        html,
        iframe,
        p {
            margin: 0;
            padding: 0
        }
        
        h1,
        h2,
        h4 {
            font-size: 100%;
            font-weight: 400
        }
        
        iframe {
            border: 0
        }
        
        article,
        footer,
        hr,
        section {
            display: block
        }
        
        a {
            color: #3273dc;
            cursor: pointer;
            text-decoration: none
        }
        
        .is-size-6 {
            font-size: 1rem!important
        }
        
        .is-size-7 {
            font-size: .75rem!important
        }
        
        .has-text-weight-bold {
            font-weight: 700!important
        }
        
        .container {
            margin: 0 auto;
            position: relative
        }
        
        .column {
            display: block;
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
            padding: .75rem
        }
        
        .columns {
            margin-left: -.75rem;
            margin-right: -.75rem;
            margin-top: -.75rem
        }
        
        .columns:last-child {
            margin-bottom: -.75rem
        }
        
        .columns:not(:last-child) {
            margin-bottom: calc(1.5rem - .75rem)
        }
        
        .columns.is-multiline {
            flex-wrap: wrap
        }
        
        @media screen and (min-width:769px),
        print {
            .is-hidden-tablet {
                display: none!important
            }
            .column.is-6 {
                flex: none;
                width: 50%
            }
            .column.is-12 {
                flex: none;
                width: 100%
            }
            .tagbar a {
                font-size: 13px
            }
            .tagbar {
                overflow: hidden
            }
        }
        
        @media screen and (min-width:1088px) {
            .container {
                max-width: 960px;
                width: 960px
            }
            .is-hidden-desktop {
                display: none!important
            }
            .column.is-4-desktop {
                flex: none;
                width: 33.33333%
            }
        }
        
        @media screen and (min-width:1280px) {
            .container {
                max-width: 1152px;
                width: 1152px
            }
        }
        
        @media screen and (min-width:1472px) {
            .container {
                max-width: 1344px;
                width: 1344px
            }
        }
        
        .has-text-centered {
            text-align: center!important
        }
        
        .icon {
            align-items: center;
            display: inline-flex;
            justify-content: center;
            height: 1.5rem;
            width: 1.5rem
        }
        
        a {
            color: inherit
        }
        
        .abuttons {
            margin-bottom: 1em;
            align-items: center;
            display: block
        }
        
        .abuttons.one-line {
            flex-wrap: nowrap;
            overflow: auto
        }
        
        .abuttons .abutton {
            margin-bottom: .5rem;
            display: inline-block
        }
        
        .abuttons .abutton:not(:last-child):not(.is-fullwidth) {
            margin-right: .5rem
        }
        
        .abutton {
            display: inline-flex;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
            padding: 5px .75em;
            cursor: pointer;
            justify-content: center;
            text-align: center;
            vertical-align: top;
            align-items: center;
            -webkit-appearance: none;
            white-space: nowrap
        }
        
        .abutton:hover {
            color: #363636;
            border-color: #b5b5b5
        }
        
        .abutton[disabled] {
            background-color: #dbdbdb;
            border-color: #dbdbdb;
            box-shadow: none;
            color: #7a7a7a;
            cursor: not-allowed
        }
        
        .abutton .icon {
            margin-left: calc(-.375em - 1px);
            margin-right: .1875em;
            align-items: center;
            display: inline-flex;
            justify-content: center
        }
        
        .abutton.is-fullwidth {
            display: block;
            width: 100%
        }
        
        .abutton.is-small {
            font-size: 13px
        }
        
        .abutton.is-link {
            background-color: #1967d2;
            color: #fff;
            border-color: transparent
        }
        
        .abutton.is-link:hover {
            background-color: #276cda;
            color: #fff
        }
        
        .abutton.is-success {
            background-color: #00875f;
            color: #fff;
            border-color: transparent
        }
        
        .abutton.is-success:hover {
            background-color: #289a78;
            color: #fff
        }
        
        .abutton.is-light {
            background-color: #f5f5f5;
            color: #363636;
            border-color: transparent
        }
        
        .abutton.is-link:hover {
            background-color: #276cda;
            color: #fff
        }
        
        .abutton svg.icon-download {
            width: 14px;
            height: 14px;
            position: relative;
            top: 2px
        }
        
        .aselect {
            display: inline-block;
            width: 100%;
            position: relative;
            vertical-align: top
        }
        
        .aselect select {
            background-color: #fff;
            font-size: 1em;
            width: 100%;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            line-height: 1.5;
            padding: 4.25px 7.75px;
            outline: 0
        }
        
        .aselect select:hover {
            border-color: #b5b5b5
        }
        
        .aselect:after {
            right: 1.125em;
            z-index: 4;
            border: 3px solid #1967d2;
            border-radius: 2px;
            border-right: 0;
            border-top: 0;
            content: " ";
            display: block;
            height: .625em;
            margin-top: -.4375em;
            pointer-events: none;
            position: absolute;
            top: 50%;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: center;
            transform-origin: center;
            width: .625em
        }
        
        .aselect select:active,
        .aselect select:focus {
            border-color: #1967d2;
            box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
        }
        
        .ainput {
            -moz-appearance: none;
            -webkit-appearance: none;
            height: 2.25em;
            padding: 4.625px 8.375px;
            width: 100%;
            background-color: #fff;
            border: 1px solid #a9a9a9;
            box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
            font-size: 14px!important;
            margin: 0;
            border-radius: 4px 0 0 4px;
            outline: 0
        }
        
        .ainput:-moz-placeholder,
        .ainput:-ms-input-placeholder,
        .ainput::-moz-placeholder,
        .ainput::-webkit-input-placeholder {
            color: #4a4a4a
        }
        
        .ainput:active,
        .ainput:focus {
            border-color: #1967d2;
            box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
        }
        
        .app {
            display: block;
            overflow: hidden;
            color: inherit
        }
        
        .app div:first-child {
            width: 48px;
            height: 48px;
            float: left;
            text-align: center;
            font-size: .75rem;
            letter-spacing: 1px;
            margin: 0 10px 0 0
        }
        
        .app div:first-child img {
            width: 48px;
            height: 48px;
            border-radius: 12px
        }
        
        .app>div:last-child {
            height: 48px;
            padding-left: 50px
        }
        
        .app b,
        .app h2,
        .app h4 {
            display: block;
            font-size: 14px;
            margin-bottom: 1px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
        
        .app h1 {
            font-size: 16px;
            margin-bottom: 5px;
            font-weight: 600;
            overflow: auto;
            text-overflow: unset;
            white-space: nowrap
        }
        
        .app>div:last-child>p {
            margin-top: 6px;
            color: #757575;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px
        }
        
        .app svg {
            width: 12px;
            height: 12px;
            position: relative;
            display: inline-block;
            margin-right: 1px;
            top: 2px
        }
        
        .column {
            display: block;
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
            padding: .75rem
        }
        
        .columns {
            margin-left: -.75rem;
            margin-right: -.75rem;
            margin-top: -.75rem
        }
        
        .columns:last-child {
            margin-bottom: -.75rem
        }
        
        .columns:not(:last-child) {
            margin-bottom: calc(1.5rem - .75rem)
        }
        
        @media screen and (min-width:769px),
        print {
            a.app:hover {
                background: #f5f7fa
            }
            .column.is-3 {
                flex: none;
                width: 25%
            }
            .column.is-4,
            .column.is-4-tablet {
                flex: none;
                width: 33.33333%
            }
            .column.is-6 {
                flex: none;
                width: 50%
            }
            .column.is-8,
            .column.is-8-tablet {
                flex: none;
                width: 66.66667%
            }
            .column.is-9 {
                flex: none;
                width: 75%
            }
            .columns:not(.is-desktop) {
                display: flex
            }
            .is-hidden-tablet {
                display: none!important
            }
        }
        
        .navbar {
            background-color: #fff;
            min-height: 3.25rem;
            position: relative;
            z-index: 30
        }
        
        @media screen and (min-width:1088px) {
            .is-hidden-desktop {
                display: none!important
            }
            #nav-search {
                width: 400px
            }
            .column.is-3-desktop {
                flex: none;
                width: 25%
            }
        }
        
        .navbar>.container {
            align-items: stretch;
            display: flex;
            min-height: 3.25rem;
            width: 100%
        }
        
        .navbar.has-shadow {
            box-shadow: 0 2px 0 0 #f5f5f5
        }
        
        .navbar-brand {
            align-items: stretch;
            display: flex;
            flex-shrink: 0;
            min-height: 3.25rem
        }
        
        .navbar-brand a.navbar-item:hover {
            background-color: transparent
        }
        
        .navbar-burger {
            color: #4a4a4a;
            cursor: pointer;
            display: block;
            height: 3.25rem;
            position: relative;
            width: 3.25rem;
            margin-left: auto
        }
        
        .navbar-burger span {
            background-color: currentColor;
            display: block;
            height: 1px;
            left: calc(50% - 8px);
            position: absolute;
            -webkit-transform-origin: center;
            transform-origin: center;
            transition-duration: 86ms;
            transition-property: background-color, opacity, -webkit-transform;
            transition-property: background-color, opacity, transform;
            transition-property: background-color, opacity, transform, -webkit-transform;
            transition-timing-function: ease-out;
            width: 16px
        }
        
        .navbar-burger span:nth-child(1) {
            top: calc(50% - 6px)
        }
        
        .navbar-burger span:nth-child(2) {
            top: calc(50% - 1px)
        }
        
        .navbar-burger span:nth-child(3) {
            top: calc(50% + 4px)
        }
        
        .navbar-burger:hover {
            background-color: rgba(0, 0, 0, .05)
        }
        
        .navbar-burger.is-active span:nth-child(1) {
            -webkit-transform: translateY(5px) rotate(45deg);
            transform: translateY(5px) rotate(45deg)
        }
        
        .navbar-burger.is-active span:nth-child(2) {
            opacity: 0
        }
        
        .navbar-burger.is-active span:nth-child(3) {
            -webkit-transform: translateY(-5px) rotate(-45deg);
            transform: translateY(-5px) rotate(-45deg)
        }
        
        .navbar-menu {
            display: none
        }
        
        .navbar-item,
        .navbar-link {
            color: #4a4a4a;
            display: block;
            line-height: 1.5;
            padding: .5rem .75rem;
            position: relative
        }
        
        .navbar-link,
        a.navbar-item {
            cursor: pointer
        }
        
        .navbar-link:hover,
        a.navbar-item:hover {
            background-color: #fafafa;
            color: #1967d2
        }
        
        .navbar-item {
            display: block;
            flex-grow: 0;
            flex-shrink: 0
        }
        
        .navbar-link:not(.is-arrowless) {
            padding-right: 2.5em
        }
        
        .navbar-link:not(.is-arrowless)::after {
            border-color: #1967d2;
            margin-top: -.375em;
            right: 1.125em
        }
        
        .navbar-dropdown {
            font-size: .875rem;
            padding-bottom: .5rem;
            padding-top: .5rem
        }
        
        @media screen and (max-width:1087px) {
            .navbar>.container {
                display: block
            }
            .navbar-brand .navbar-item {
                align-items: center;
                display: flex
            }
            .navbar-menu {
                background-color: #fff;
                box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
                padding: .5rem 0
            }
            .navbar-menu.is-active {
                display: block
            }
            .is-desktop-only {
                display: none!important
            }
        }
        
        @media screen and (min-width:1088px) {
            .navbar,
            .navbar-end,
            .navbar-menu,
            .navbar-start {
                align-items: stretch;
                display: flex
            }
            .navbar {
                min-height: 3.25rem
            }
            .navbar-burger {
                display: none
            }
            .navbar-item {
                align-items: center;
                display: flex
            }
            .navbar-menu {
                flex-grow: 1;
                flex-shrink: 0
            }
            .navbar-start {
                justify-content: flex-start;
                margin-right: auto
            }
            .navbar-end {
                justify-content: flex-end;
                margin-left: auto
            }
            a.navbar-item:hover {
                background-color: #f5f5f5;
                color: #333
            }
            .navbar>.container .navbar-brand {
                margin-left: -.75rem
            }
            .navbar>.container .navbar-menu {
                margin-right: -.75rem
            }
        }
        
        @media screen and (max-width:768px) {
            .is-hidden-mobile {
                display: none!important
            }
            .abutton.is-fullwidth-mobile {
                width: 100%!important
            }
            .abutton.is-success-mobile {
                background-color: #00875f;
                color: #fff;
                border-color: transparent
            }
            .abutton.is-success-mobile:hover {
                background-color: #289a78;
                color: #fff
            }
            #share-float {
                height: 40px!important;
                width: 40px!important;
                line-height: 40px
            }
        }
        
        @media (min-width:900px) {
            .ad-box.resp,
            .ad-box.resp .ad_slot {
                width: 100%!important;
                height: 90px!important
            }
        }
        
        ins>.ad-holder {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        
        .social-network {
            text-align: center;
            direction: ltr;
            display: block;
            opacity: 1;
            z-index: 94034
        }
        
        .social-network a {
            background-color: #fff;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -moz-transition: opacity .2s ease-in, top .2s ease-in;
            -ms-transition: opacity .2s ease-in, top .2s ease-in;
            -o-transition: opacity .2s ease-in, top .2s ease-in;
            -webkit-transition: opacity .2s ease-in, top .2s ease-in;
            transition: opacity .2s ease-in, top .2s ease-in;
            -moz-border-radius: 18px;
            -webkit-border-radius: 18px;
            border-radius: 18px;
            border: solid .5px #ccc;
            cursor: pointer;
            display: inline-block;
            height: 28px;
            line-height: 28px;
            padding: 0 7px;
            position: relative;
            text-align: center;
            top: 0;
            vertical-align: top;
            white-space: nowrap
        }
        
        .social-network a:not(:last-child) {
            margin-right: 4px
        }
        
        .social-network a img {
            height: 14px;
            width: 14px;
            position: relative;
            top: 6px;
            vertical-align: top
        }
        
        hr {
            height: 0!important;
            margin: 1rem 0;
            border: 0!important
        }
        
        .abutton.is-large {
            line-height: 23px
        }
        
        .one-line {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
        
        .share-wrap {
            height: 35px
        }
        
        .ad-box.ad-300x250 {
            width: 300px;
            height: 250px!important;
            margin: 0 auto 20px auto
        }
        
        .ad-box {
            text-align: center;
            margin-bottom: 20px;
            position: relative
        }
        
        .ad-box.resp {
            margin: 0 auto 20px auto
        }
        
        .ad-box.resp,
        .ad-box.resp .ad_slot {
            width: 300px;
            height: 250px;
            min-height: 90px
        }
        
        ins>.ad-holder {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        
        ins>.ad-holder::after {
            content: "Ad";
            background-color: transparent;
            border-radius: 2px;
            color: #696969;
            font-size: 10px;
            line-height: 1;
            font-family: Arial, sans-serif;
            padding: 3px 4px 1px;
            border: 1px solid #696969
        }
        
        .advertisement {
            position: relative;
            padding: 2px 5px 0;
            color: #757575;
            font-size: 10px;
            top: 0;
            right: 0;
            text-align: center;
            z-index: 1
        }
        
        h1.atitle a {
            display: inline-block;
            padding: 0
        }
        
        .atitle.heading {
            font-size: 18px!important;
            white-space: inherit;
            font-weight: 600
        }
        
        .atitle {
            display: block;
            color: #363636;
            margin-bottom: .5rem;
            font-size: 16px;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
        
        .atitle a {
            display: inline-block;
            line-height: 1.5;
            border-bottom: 2px solid #71c21b;
            margin-bottom: .75rem
        }
        
        .atitle a>span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden
        }
        
        .block-title .more a {
            padding: 15px
        }
        
        .block-title {
            position: relative
        }
        
        .block-title .atitle {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden
        }
        
        .block-title .more svg {
            padding: 3px;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 1px;
            top: -3px
        }
        
        .block-title .more svg:hover {
            opacity: .6
        }
        
        .atable {
            width: 100%;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden
        }
        
        .atable tr>td:first-child {
            font-weight: 600;
            padding-right: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden
        }
        
        .atable.is-light tr>td:first-child {
            font-weight: 400!important
        }
        
        .atable,
        .atable td,
        .atable th {
            vertical-align: top;
            outline: 0!important;
            padding: .5em .75em;
            border: none #e5e5e5
        }
        
        table.is-striped tbody tr:not(.is-selected):nth-child(even) {
            background-color: #fafafa
        }
        
        a.is-link {
            color: #1967d2
        }
        
        a.is-link:hover {
            text-decoration: underline
        }
        
        .footer {
            background-color: #fafafa;
            padding: 3rem 1.5rem 6rem
        }
        
        .footer-menu {
            margin-bottom: 5px
        }
        
        .footer-menu a {
            display: inline-block;
            margin: 5px 0;
            color: #1967d2!important
        }
        
        ::-webkit-input-placeholder {
            line-height: normal
        }
        
        .is-hidden {
            display: none!important
        }
        
        .autocomplete-suggestions {
            text-align: left;
            cursor: default;
            border: 1px solid #ccc;
            border-top: 0;
            background: #fff;
            box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
            position: absolute;
            display: none;
            z-index: 9999;
            max-height: 254px;
            overflow: hidden;
            overflow-y: auto;
            box-sizing: border-box
        }
        
        .autocomplete-suggestion {
            position: relative;
            padding: .75rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #333
        }
        
        .autocomplete-suggestion b {
            font-weight: 400;
            color: #1f8dd6
        }
        
        .autocomplete-suggestion.selected {
            background: #f0f0f0
        }
        
        .breadcrumb {
            font-size: 14px;
            margin-bottom: 1rem
        }
        
        .breadcrumb>div {
            margin: 0;
            padding: 0
        }
        
        .breadcrumb p {
            display: inline
        }
        
        .breadcrumb p a {
            color: #1967d2
        }
        
        .breadcrumb p a:hover {
            color: #1967d2!important;
            text-decoration: underline
        }
        
        .breadcrumb>p:last-child a {
            color: #000
        }
        
        .abutton.search {
            border-color: #a9a9a9;
            margin: 0 -1px;
            height: 2.25em;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0
        }
        
        .tags {
            text-align: left;
            display: block
        }
        .tags a:not(body) {
            background-color: #f5f5f5;
            border-radius: 4px;
            color: #4a4a4a;
            display: inline-block;
            font-size: 13px;
            height: 2em;
            line-height: 2;
            padding-left: .75em;
            padding-right: .75em;
            white-space: nowrap;
        }
        .tags .tag {
            margin-bottom: .5rem;
            display: inline-block
        }
        
        .tags .tag:not(:last-child) {
            margin-right: .5rem
        }
        
        .tags:last-child {
            margin-bottom: -.5rem
        }
        
        .tags:not(:last-child) {
            margin-bottom: 1rem
        }
        
        .tags > a {
            background-color: #f5f5f5;
            border-radius: 4px;
            color: #4a4a4a;
            display: inline-block;
            font-size: 13px;
            height: 2em;
            line-height: 2;
            padding-left: .75em;
            padding-right: .75em;
            white-space: nowrap;
            margin: 2px;
          }
          
          .tags > a:hover {
            text-decoration: underline;
          }
        
        #share-float {
            display: block;
            position: fixed;
            right: 10px;
            bottom: 15px;
            z-index: 99999;
            cursor: pointer;
            background: url(data:image/svg+xml,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eshare%3C%2Ftitle%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%23FFFFFF%22%3E%3Cpath%20d%3D%22M26%2C13.4285714%20C26%2C13.6220248%2025.9293162%2C13.7894338%2025.7879464%2C13.9308036%20L20.0736607%2C19.6450893%20C19.932291%2C19.786459%2019.7648819%2C19.8571429%2019.5714286%2C19.8571429%20C19.3779752%2C19.8571429%2019.2105662%2C19.786459%2019.0691964%2C19.6450893%20C18.9278267%2C19.5037195%2018.8571429%2C19.3363105%2018.8571429%2C19.1428571%20L18.8571429%2C16.2857143%20L16.3571429%2C16.2857143%20C15.6279725%2C16.2857143%2014.9750773%2C16.3080355%2014.3984375%2C16.3526786%20C13.8217977%2C16.3973217%2013.2488868%2C16.477306%2012.6796875%2C16.5926339%20C12.1104882%2C16.7079619%2011.6157015%2C16.8660704%2011.1953125%2C17.0669643%20C10.7749235%2C17.2678581%2010.3824423%2C17.5264121%2010.0178571%2C17.8426339%20C9.65327199%2C18.1588557%209.35565592%2C18.534596%209.125%2C18.9698661%20C8.89434408%2C19.4051361%208.71391434%2C19.9203839%208.58370536%2C20.515625%20C8.45349637%2C21.1108661%208.38839286%2C21.7842224%208.38839286%2C22.5357143%20C8.38839286%2C22.9449425%208.40699386%2C23.4025272%208.44419643%2C23.9084821%20C8.44419643%2C23.9531252%208.45349693%2C24.0405499%208.47209821%2C24.1707589%20C8.4906995%2C24.3009679%208.5%2C24.3995532%208.5%2C24.4665179%20C8.5%2C24.5781256%208.46837829%2C24.6711306%208.40513393%2C24.7455357%20C8.34188956%2C24.8199408%208.25446484%2C24.8571429%208.14285714%2C24.8571429%20C8.02380893%2C24.8571429%207.9196433%2C24.7938994%207.83035714%2C24.6674107%20C7.77827355%2C24.6004461%207.72991094%2C24.5186017%207.68526786%2C24.421875%20C7.64062478%2C24.3251483%207.59040206%2C24.2135423%207.53459821%2C24.0870536%20C7.47879436%2C23.9605648%207.43973225%2C23.87128%207.41741071%2C23.8191964%20C6.47246551%2C21.6986501%206%2C20.0208395%206%2C18.7857143%20C6%2C17.3050521%206.19717065%2C16.0662252%206.59151786%2C15.0691964%20C7.79688103%2C12.0706695%2011.0520568%2C10.5714286%2016.3571429%2C10.5714286%20L18.8571429%2C10.5714286%20L18.8571429%2C7.71428571%20C18.8571429%2C7.52083237%2018.9278267%2C7.35342333%2019.0691964%2C7.21205357%20C19.2105662%2C7.07068382%2019.3779752%2C7%2019.5714286%2C7%20C19.7648819%2C7%2019.932291%2C7.07068382%2020.0736607%2C7.21205357%20L25.7879464%2C12.9263393%20C25.9293162%2C13.067709%2026%2C13.2351181%2026%2C13.4285714%20L26%2C13.4285714%20Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E) center no-repeat rgba(0, 0, 0, .3);
            transition: transform .4s ease;
            border-radius: 50%;
            background-color: #ff6550;
            height: 50px;
            width: 50px;
            line-height: 50px;
            animation-duration: .5s;
            animation-fill-mode: both;
            animation-name: slideInRight;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .35)
        }
        
        @keyframes slideInRight {
            from {
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
                visibility: visible
            }
            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0)
            }
        }